# Ignore embedding and chunk files
ercot_embeddings.npy
ercot_chunks_cached.json
ercot_combined_chunks.json

# Ignore virtual environment
venv/
.pssebot/

# Ignore macOS system files
.DS_Store

# Ignore Python cache
__pycache__/
*.pyc